.owned-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .public-card-wrapper {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      img {
        opacity: 0.5;
      }

      .num-owned {
        position: absolute;
        z-index: 1;
        font-size: 7rem;
      }

      .card-data {
        position: absolute;
        background-color: #fff;
        z-index: 1;
        width: 100%;
        border: solid thin #000;
        border-radius: 0.5rem;
        padding: 0.2rem;
      }
    }
  }
}
