.category-wrapper {
  width: 100%;
  text-align: center;

  .card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .category {
      width: 15rem;
      margin: 0.2rem;

      .card-header {
        height: 6rem;
      }

      .set-date {
        display: inline-block;
        float: left;
      }

      .set-code {
        display: inline-block;
        float: right;
      }
    }
  }
}
