.categories-wrapper {
  width: 80%;

  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .category {
      width: 20rem;
      margin: 0.2rem;
      text-align: center;

      .card-header {
        height: 5rem;
      }

      .set-date {
        display: inline-block;
        float: left;
      }

      .set-code {
        display: inline-block;
        float: right;
      }
    }
  }
}
