.nav-wrapper {
  .no-border {
    border: none;
  }

  .nav-acr {
    cursor: pointer;
    text-align: center;
  }

  .btn-nav {
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 0.75rem 1.25rem;
    display: block;
    text-decoration: none;
    color: #000;
  }

  .nav-acr:hover,
  .btn-nav:hover {
    border: solid thin #000;
    text-decoration: none;
    color: #000;
  }

}
