.profile-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;

  .profile-icon {
    background-color: #FFF;
    border-radius: 1rem;
    height: 100%;
  }

  .profile-icon:hover {
    background-color: grey;
  }

  .profile-menu {
    border-radius: 0.5rem;

    .profile-menu-link {
      background-color: #fff;
      border: solid thin #000;
      border-radius: 0.5rem;

      a {
        color: #000;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        display: block;
        width: 100%;
      }
    }

    .profile-menu-link:hover {
      background-color: lightgrey;
      cursor: pointer;
    }
  }

}

.menu-icon-wrapper {
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  right: 1rem;

  .menu-icon {
    background-color: #FFF;
    border-radius: 1rem;
    height: 100%;
    width: 4rem;
  }

  .menu-icon:hover {
    background-color: grey;
  }

  .menu {
    border-radius: 0.5rem;

    .menu-link {
      background-color: #fff;
      border: solid thin #000;
      border-radius: 0.5rem;

      a {
        color: #000;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        display: block;
        width: 100%;
      }
    }

    .menu-link:hover {
      background-color: lightgrey;
      cursor: pointer;
    }
  }
}
