.home-btn {
  position: absolute;
  left: 10rem;
  background-color: #FFF;
  top: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.single-card-wrapper {
  text-align: center;
  position: relative;
  width: 80%;

  .back-btn {
    position: absolute;
    left: 2rem;
  }

  .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
