.small-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;

  .small-card {
    width: 13rem;
    height: 26rem;

    .card-header {
      height: 4rem;
    }

    .card-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-rarity {
        background: #fff;
        position: absolute;
        padding: 0.2rem;
        border-radius: 0.5rem;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;
      }

      .numOwned {
        position: absolute;
        font-size: 7rem;
      }

      .add-card-owned {
        position: absolute;
        right: 2rem;
        width: 1.5rem;
        height: 2rem;
      }

      .remove-card-owned {
        position: absolute;
        left: 2rem;
        width: 1.5rem;
        height: 2rem;
      }
    }

    .card-wrapper.opac {

      img {
        opacity: 0.5;
      }
    }

    .cardCode {
      display: inline-block;
      float: left;
    }

    .cardPrice {
      display: inline-block;
      float: right;
    }
  }
}
