@import "bootstrap/dist/css/bootstrap.css";

@import "sidenav";
@import "TopNav";
@import "category";
@import "set";

.body-wrapper {
  display: flex;
  justify-content: space-around;

  .wrapper {
    width: 100%;
    text-align: center;
  }
}
